# Assignments

**1.Write a Python program to create a list of fruits and use list indexing to access and
print the second and third fruits in the list.**

* Sample Input:
    * fruits = ["apple", "banana", "cherry", "date", "elderberry"]
* Expected Output:
    * "banana", "cherry"

In [72]:
fruits = ["Avocado","Blueberry","Strawberry","Mango","Kiwi"]
print(f"First fruit is : {fruits[1]}")
print(f"Second fruit is : {fruits[2]}")

First fruit is : Blueberry
Second fruit is : Strawberry

**2. Write a Python program to create a list of numbers and add a new number to the end
of the list and delete the second number from the list. Then, print the updated list.**
* Sample Input:
    * numbers = [1, 2, 3, 4, 5]
* Expected Output:
    * [1, 3, 4, 5, 6]

In [73]:
lst = [100,200,300,400,500]
lst.append(600)
print(f"List after adding new number : {lst}")
lst.pop(1)
print(f"List after delete second number : {lst}")
print(f"the update list : {lst}")

List after adding new number : [100, 200, 300, 400, 500, 600]
List after delete second number : [100, 300, 400, 500, 600]
the update list : [100, 300, 400, 500, 600]

**3. Create a tuple called data = (5, 10, 15, 20, 25, 30, 35)
Your Tasks:**
1. Access the 3rd and 5th elements.
2. Convert the tuple to a list.
3. Insert the number 100 right after the number 20.
4. Convert the list back to a tuple.

In [32]:
data = (5,10,15,20,25,30,35)
print(f"The 3rd number is : {data[2]} , The 5th number is : {data[4]}")
new_data = list(data)
print(f"List :  {new_data}")
new_data.insert(4,100)
print(f"insert :  {new_data}")
new_tuple = tuple(new_data)
print(f"New Tuple :  {new_tuple}")

The 3rd number is : 15 , The 5th number is : 25
List :  [5, 10, 15, 20, 25, 30, 35]
insert :  [5, 10, 15, 20, 100, 25, 30, 35]
New Tuple :  (5, 10, 15, 20, 100, 25, 30, 35)

**4. You have two sets:**
* setA = {10, 20, 30, 40, 50}
* setB = {30, 40, 60, 70}

**Your Tasks:**
1. Display the common elements between the two sets (intersection).
2. Show the elements that are only in setA.
3. Combine both sets (union).
4. Add the number 90 to setA.
5. Remove the number 10 from setA.

In [45]:
A = {10,20,30,40,50}
B = {30,40,60,70}
result = A & B
print(f"The intersection : {result}")
result2 = A - B
print (f"The difference : {result2}")
result3 = A | B
print(f"The union : {result3}")
A.add(90)
print(f"Set after adding 90 : {A}")
A.remove(10)
print(f"Set after removing 10 : {A}")

The intersection : {40, 30}
The difference : {50, 10, 20}
The union : {70, 40, 10, 50, 20, 60, 30}
Set after adding 90 : {50, 20, 90, 40, 10, 30}
Set after removing 10 : {50, 20, 90, 40, 30}

**5. Create the follwoing dictionary**

1. Create a dictionary called `grades` where:

* The **keys** are student names.
* The **values** are their grades (numbers).

Example:

```python
grades = {
    "Ali": 85,
    "Sara": 90,
    "Omar": 78
}
```

2. Print Saraâ€™s grade using the key.
3. Add a new student `"Mona"` with a grade of `88`.
4. Omar has improved! Update his grade to `83`.
6. Remove `"Ali"` from the dictionary.

In [54]:
grades = {"Ali":85,"Sara":90,"Omar":78}
print(f"Sara's grade : {grades["Sara"]}")
grades["Mona"]=88
print(f"Dictionary after adding new student : {grades}")
grades.update({"Omar":83})
print(f"Updated grade : {grades}")
grades.pop("Ali")
print(f"Dictionary after removing ali : {grades}")

Sara's grade : 90
Dictionary after adding new student : {'Ali': 85, 'Sara': 90, 'Omar': 78, 'Mona': 88}
Updated grade : {'Ali': 85, 'Sara': 90, 'Omar': 83, 'Mona': 88}
Dictionary after removing ali : {'Sara': 90, 'Omar': 83, 'Mona': 88}

**6. Again for the following grade dictionnary:**

```python
grades = {
    "Ali": 85,
    "Sara": 90,
    "Omar": 78
}
```
1. All students have taken 5 degree bonus, add 5 degrees to the scores to all students
2. Find and print the **name of the student with the highest grade**.

In [70]:
grades = {"Ali":85,"Sara":90,"Omar":78}
grades.update({"Ali" : grades["Ali"]+5,
              "Sara" : grades["Sara"]+5,
              "Omar" : grades["Omar"]+5})
print(f"Dictionary after adding 5 degrees to all students : {grades}")
highest_grade=max(grades,key=grades.get)
print(f"The name with highest grade is : {highest_grade}")

Dictionary after adding 5 degrees to all students : {'Ali': 90, 'Sara': 95, 'Omar': 83}
The name with highest grade is : Sara

# Search

* Json files
* CSV files

# JSON FILES : This format is used to store data in a hierarchical (key and value) and it is the main language for transferring data between apps and websites. 
# CSV FILES : These files store data in the form of simple tables and It's preferred for excel programs.